.rounded-corners-all-around {
    border-radius: 8px;
}

.bg-color-dk-gry {
    background-color: rgb(110,118,125);
}

.wd-bg-color-dk-dk-gry {
    background-color: rgb(30, 32, 35);
}

.wd-float-left {
    float: left;
}

.wd-padding-fat {
    padding: 10px;
}

.wd-padding-thin {
    padding: 5px;
}

.wd-right{
    right: 13px;
    position: absolute;
}

.wd-title-border{
    padding-left: 16px;
    padding-top: 12px;
}

.wd-post-container{
    border-width: 1px;
    border-color: rgb(30, 32, 35);
    border-style: solid;
    padding: 5px;
    display: flex;

}

.wd-center-align-vert {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
}

.post-trending{
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 8px;
}

.post-trending-sm{
    font-weight: lighter;
    color: rgb(110, 118, 125);
}

.post-trending-lg{
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: bold;

}

.post-story{
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 8px;
}

.wd-image-trending{
    margin: 16px;
    width: 100px;
    border-radius: 15px;
    float: right;
}

.wd-link-fonts{

    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    font-family: "Helvetica Neue";
}

.wd-link-fonts a:link { text-decoration: none;
    color: white;

}


.wd-link-fonts a:visited { text-decoration: none;
    color: white;
}


.wd-link-fonts a:hover { text-decoration: none;
    color: rgb(29, 161, 242);
    padding-bottom: 10px;
    border-bottom: 5px rgb(29, 161, 242) solid;
}


.wd-link-fonts a:active { text-decoration: none;
    color: rgb(29, 161, 242);
}