.rounded-corners-all-around {
    border-radius: 8px;
}

.bg-color-dk-gry {
    background-color: rgb(110,118,125);
}

.wd-bg-color-dk-dk-gry {
    background-color: rgb(30, 32, 35);
}

.wd-float-left {
    float: left;
}

.wd-padding-fat {
    padding: 10px;
}

.wd-padding-thin {
    padding: 5px;
}

.wd-right{
    right: 13px;
    position: absolute;
}

.wd-title-border{
    padding-left: 16px;
    padding-top: 12px;
}

.wd-post-container{
    border-width: 1px;
    border-color: rgb(30, 32, 35);
    border-style: solid;
    padding: 5px;

}